.ipynb_checkpoints
MH2801/__pycache__
MH2801/latex/*.log
MH2801/latex/*.aux
MH2801/latex/*.out
MH2801/latex/00_mathfunctions.pdf
MH2801/latex/01_derivatives.pdf
MH2801/latex/02_integrals.pdf
MH2801/latex/03_complex_numbers.pdf
