.ipynb_checkpoints
MH2801/__pycache__
MH2801/latex/*.log
MH2801/latex/*.aux
MH2801/latex/*.out
MH2801/latex/00_mathfunctions.pdf
MH2801/latex/01_derivatives.pdf
MH2801/latex/02_integrals.pdf
MH2801/latex/03_complex_numbers.pdf
MH2801/latex/04_complex_oscillations.pdf
MH2801/latex/05_complex_waves.pdf
MH2801/latex/06_complex_derivatives.pdf
MH2801/latex/07_branch_cuts.pdf
MH2801/latex/08_contour_integration.pdf
MH2801/latex/09_fourier_transform.pdf
MH2801/latex/10_greens_function.pdf
PH4401/latex/*.log
PH4401/latex/*.aux
PH4401/latex/*.out
PH4401/latex/00_scattering.pdf
