.ipynb_checkpoints
MH2801/__pycache__
PH4401/src/__pycache__
PH4401/imgsrc/__pycache__
latex/MH2801/*.log
latex/MH2801/*.aux
latex/MH2801/*.out
latex/MH2801/01_mathfunctions.pdf
latex/MH2801/02_derivatives.pdf
latex/MH2801/03_integrals.pdf
latex/MH2801/04_complex_numbers.pdf
latex/MH2801/05_complex_oscillations.pdf
latex/MH2801/06_complex_waves.pdf
latex/MH2801/07_complex_derivatives.pdf
latex/MH2801/08_branch_cuts.pdf
latex/MH2801/09_contour_integration.pdf
latex/MH2801/10_fourier_transform.pdf
latex/MH2801/11_greens_function.pdf
latex/MH2801/12_solutions.pdf
latex/PH4401/*.log
latex/PH4401/*.aux
latex/PH4401/*.out
latex/PH4401/0*.pdf
latex/PH4401/App*.pdf
PH2198/errors/*.aux
PH2198/errors/*.log
PH2198/errors/*.out
PH2198/errors/errors.pdf
PH2198/lab-reports/*.aux
PH2198/lab-reports/*.log
PH2198/lab-reports/*.out
PH2198/lab-reports/lab-reports.pdf
